.user-component {
  display: flex;
  margin-top: 30px;
}
.ser-profile-black {
  background-color: white;
  width: 50px;
  height: 50px;
}
.recommended-friends .user-component {
  margin-bottom: 20px;
}
